.content{
    position: relative;
    width: 100%;
    @include flexNav();

    .textBox{
        position: relative;
        max-width: 600px;
        h2{
            color: $text-cl;
            font-size: 4em;
            line-height: 1.4em;
            font-weight: 500;
        }
    }
}   
